*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

html, body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #03030D;
    overflow-x: hidden;
}

h1, h2, h3, h4, a, button, input, span, p, li{
    color: white;
}

p, input[type = submit], h3{
    font-family: 'Sofia Sans';
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

a, label, input, h2, span{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}


main{
    width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

span.password{
    font-weight: 500;
    font-size: 14px;
}

main form{
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    margin-top: 50px;

    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
}

main form label, main form input{    
    margin: 10px 0;

    font-size: 16px;
    color: black;
}

main form input{
    width: 100%;
    padding: 10px;

    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
}

main form input[type=submit]{
    color: yellow;
    background-color: purple;
    cursor: pointer;
}