*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body, html{
	width: 100vw;
	min-height: 100vh;

	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	background-color: #03030D;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

h1, h2, h3, h4, a, button, input, span, p, li{
    color: white;
}

p, input[type = submit], h3{
    font-family: 'Sofia Sans';
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

a, label, input, h2{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

main{
	flex: 1;
}

main .container{
	display: flex;
	flex-direction: column;
}

main #products{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

main #products .product-wrapper{
	width: 30%;
	min-width: 190px;

	margin: 10px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: rgba(32, 34, 37, 1);
	border-radius: 8px;
	border: 2px solid rgba(245, 0, 240, 1);
}

#products .product-wrapper form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#products .product-wrapper .img-box{
	width: 100%;
	height: 200px;

	padding: 10px;
}

#products .product-wrapper .img-box img{
	width: 100%;
	height: 100%;

	object-fit: cover;
	border-radius: 5px;
}

.product-wrapper .info{
	margin-top: 10px;
	padding-left: 10px;
	
	flex: 1;
}

#products .product-wrapper p{
	font-weight: 400;
	font-size: 16px;

	color: rgba(255, 255, 255, 0.82);
}

#products .product-wrapper h3{
	color: white;
	font-size: 20px;
	font-weight: 400;
}

.product-wrapper h3.price{
	text-decoration: line-through;
}

.product-wrapper h3.discounted{
	color: rgb(255, 210, 16) !important;
}

#products .product-wrapper input[type=submit]{
	width: 100%;
	padding: 5% 0px;
	border-radius: 9px;
	background-color: rgba(255, 150, 9, 1);
	font-weight: bold;
  
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
	margin-bottom: 10px;
	margin-top: 25px;  

	transition: .5s;
	color: white;
}


#products .product-wrapper input[type=submit]:hover{
	color: black;
	background-color: #dedede;
}

#no-product{
	width: 100%;

	padding-top: 50px;
	text-align: center;
}

#no-product a{
	font-size: 2em;
}

#no-product span{
	display: block;
	max-width: 15em;
	font-size: 22px;
	color: white;
	background-color: rgba(255, 150, 9, 1);
	padding: 1em;
	margin: 2em auto 0;
	border-radius: 10px;
	text-transform: uppercase;

}
#no-product span:hover{
	cursor: pointer;
}

main #pages{
	width: fit-content;
	height: fit-content;

	margin: 30px auto 20px;
	padding-top: 10px;

	display: flex;
	flex-wrap: wrap;
}

main #pages h3{
	margin: 5px;
	padding: 2px 4px;

	font-size: 16px;
	background-color: rgba(32, 34, 37, 1);
	border-radius: 2px;

	transition: 0.5s;
}

#pages h3:hover{
	background-color: rgba(132, 134, 127, 1);
}

main #pages a{
	color: rgb(255, 255, 255);
	font-weight: bold;
}

main #pages a:hover{
	text-decoration: underline;
}